@charset "UTF-8";
/********************************************
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

input, textarea {
    outline: none;
}

/********************************************
 共通
*********************************************/

body {
	color: #2c3e50;
}

.container{
	text-align: center;
}
.contents{
	text-align: center;
}

.page-title{
	margin-top: 20px;
	margin-bottom: 40px;
}

.input-field{
	margin-bottom: 10px;
	display:flex;
	justify-content: center;
}

.input-id{
	margin-left: 15px;
}
.login-name{
	margin-bottom: 10px;
}
.error{
	color:red;
}