@charset "UTF-8";
/********************************************
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

input, textarea {
    outline: none;
}

/********************************************
 共通
*********************************************/

body {
	color: #2c3e50;
}

header {
	height: 70px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #2c3e50;
    color: #FFFFFF;
    padding-top:10px
}

h2{
	text-align: center;
	padding:10px 0 10px;
	font-size: 32px;
}

.return-menu{
	margin: 15px 50px; 
	text-align: left;
}

.employee-table {
    margin: 0 auto 15px;
    border-collapse:  collapse;
    width:95%;
}
.employee-table th,td{
	height: 25px;
    padding: 5px;
    border: solid 1px #2c3e50;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.employee-table th{
	background-color: #0d6efd;;
    color: #FFFFFF;
}

.container{
	text-align: center;
}
.contents{
	text-align: center;
}

.page-title{
	margin-top: 20px;
	margin-bottom: 40px;
}

.input-field{
	margin-bottom: 10px;
	display:flex;
	justify-content: center;
}

.input-id{
	margin-left: 15px;
}
.login-name{
	margin-bottom: 10px;
	font-size: 20px;
}
.error{
	color:red;
}

.username{
  font-size: 30px;  
}

/********************************************
 従業員登録
*********************************************/
.regist-table{
	width:500px;
	margin:auto;
	margin-bottom:20px;
}    

.regist-table th,td{
	height: 25px;
    padding: 5px;
    border: solid 1px #2c3e50;
    overflow: hidden;
    white-space: nowrap;
}

.regist-table th{
	background-color: rgb(243, 238, 230);;
    color: #000000;
    width:100px;
    text-align: left;
    padding-left: 15px;
}

.regist-table td{
	width:200px;
}
.regist-guide{
	font-size: 20px;
}
.regist-confirm{
	display:flex;
	justify-content:center;
	text-align: center;
}
.btn-regist{
	margin-right: 20px;
	width: 100px;
}
.btn-return{
	width: 100px;
}
