<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>従業員削除</title>
</head>
<body>
	<div class="container">
		<h1 class="page-title">従業削除</h1>
		<div class="return-menu">
			<a th:href="@{/StaffTrack/menu}"><button type="button">＜＜メニュー画面に戻る</button></a>
		</div>
		<div class="contents">
			<form th:action="@{/StaffTrack/emp_delete_confirm}" th:object="${employee}" method="post">
				<div class="page-guide">削除したい従業員情報を入力してください</div>
				<div class="error" th:if="${errorMessage}" th:text="${errorMessage}"></div>
				<table class="regist-table">
					<tbody>
						<tr>
							<th>従業員ID</th>
							<td>
								<select name="empId" id="id-select">
									<option value="">従業員IDを選択</option>
								 	<option th:each="employee : ${employees}" th:value="${employee.empId}" th:text ="${employee.empId + '_' + employee.empName}"></option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>　
				<div>
					<button type="submit" class="btn btn-primary">削除ページへ進む</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>