<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>従業員一覧</title>
</head>
<body>
	<div class="container">
		<h1 class="page-title">従業員一覧</h1>
		<div class="return-menu">
			<a th:href="@{/StaffTrack/menu}"><button type="button">＜＜メニュー画面に戻る</button></a>
		</div>
		<div class="contents">
			<form th:action="@{/StaffTrack/emp_list}" th:object="${employee}" method="post">
				<div class="input-search-field">
			        <div>従業員ID</div>
			        <input type="text" class="input-search" th:field="*{empId}">
			    </div>
			    <div class="input-search-field">
			        <div>従業員名</div>
			        <input type="text" class="input-search" th:field="*{empName}">
			    </div>
			    <input type="submit" class="btn btn-primary" value="検索">
			</form>
		</div>
		<div th:unless="${errorMessage}">
			<table class="employee-table">
				<thead>
					<tr>
						<th>従業員ID</th>
						<th>従業員名</th>
						<th>メールアドレス</th>
						<th>生年月日</th>
						<th>給与</th>
						<th>部署名</th>
						<th>編集</th>
						<th>削除</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee : ${list}">
						<td th:text="${employee.empId}"></td>
						<td th:text="${employee.empName}"></td>
						<td th:text="${employee.email}"></td>
						<td th:text="${employee.birthDate}"></td>
						<td th:text="${employee.salary}"></td>
						<td th:text="${employee.department.deptName}"></td>
						<td>
							<form method="POST" th:action="@{/StaffTrack/emp_update_input}">
								<input type="hidden" name="empId" th:value="${employee.empId}">
								<input type="submit" value="変更">
							</form> 
						</td>
						<td><a th:href="@{/}"><button type="button" class="">削除</button></a></td>
					</tr>
					<tr th:if="${searchEmployee != null}" th:object="${searchEmployee}">
						<td th:text="*{empId}"></td>
						<td th:text="*{empName}"></td>
						<td th:text="*{email}"></td>
						<td th:text="*{birthDate}"></td>
						<td th:text="*{salary}"></td>
						<td th:text="*{department.deptName}"></td>
						<td>
							<form method="POST" th:action="@{/StaffTrack/emp_update_input}">
								<input type="hidden" name="empId" th:value="${employee.empId}">
								<input type="submit" value="変更">
							</form> 
						</td>
						<td><a th:href="@{#}"><button type="button" class="">削除</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 従業員データが存在しない場合に表示 -->
		<h2 class="error" th:text="${errorMessage}"></h2>
	</div>
</body>
</html>