<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>従業員削除確認</title>
</head>
<body>
	<div class="container">
		<h1 class="page-title">従業員削除</h1>
		<div class="contents">
			<div class="page-guide">以下の内容で削除しますか？</div>
			<table class="regist-table">
				<tbody>
					<tr>
						<th>従業員ID</th>
						<td th:text="${employee.empId}"></td>
					</tr>
					<tr>
						<th>従業員名</th>
						<td th:text="${employee.empName}"></td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td th:text="${employee.email}"></td>
					</tr>
					<tr>
						<th>生年月日</th>
						<td th:text="${employee.birthDate}"></td>
					</tr>
					<tr>
						<th>給与</th>
						<td th:text="${employee.salary}"></td>
					</tr>
					<tr>
						<th>部署</th>
						<td th:text="${employee.department.deptName}"></td>
					</tr>
				</tbody>
			</table>
			<form th:action="@{/StaffTrack/emp_delete_complete}" method="post">
				<input type="hidden" th:value="${employee.empId}" name="empId" /> 
				<div class="regist-confirm">
					<button type="submit" class="btn btn-primary btn-regist">削除</button>
					<a th:href="@{/StaffTrack/emp_delete}"><button type="button" class="btn btn-light btn-return">戻る</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>